/* loginPage*/
body {
  margin: 0;
}

/* .Container {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  float: left;
  padding: 0%;
} */

.Outerdiv {
  background-color: rgb(250, 251, 252);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(250, 251, 252) */
  /* margin-top: 10%;
  margin-left: 35%;
  margin-right: 30%;
  height: 35vh;
  width: 25%;
 
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 40px;
  /* border-radius: 10px; */
  /* border: end start radius 50px; */
  /* border-style: solid; */
}
.column1 {
  background-color: rgb(250, 251, 252);
  width: 40%;
  display: flex;
  align-items: flex-end;
  margin-left: 0px;
}
.image1 {
  width: 90%;
}
.image2 {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 6%;
}

.column2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 150px;
  width: 30%;
  height: 55%;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  margin-left: 10px;
}
.column3 {
  background-color: rgb(250, 251, 252);
  width: 30%;
  display: flex;
  align-items: end;
}
.image3 {
  width: 100%;
  margin-left: 15%;
  transform: scaleX(-1);
}
.image4 {
  width: 30%;
}
.input {
  width: 60%;
  border-radius: 2px;
  padding: 5px;
  border-color: rgb(115, 199, 250);
  margin-bottom: 15px;
  border-width: 1px;
}
.input:focus {
  outline: solid rgb(59, 59, 225);
}
button {
  border-radius: 2px;
  background-color: blue;
  width: 63%;
  padding: 6px;
  color: white;
}
.row3 {
  width: 25%;
  margin-left: 35%;
  color: rgb(80, 70, 193);
  text-align: right;
}

.row2,
.row3,
.row4 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.row2 {
  margin-top: 30%;
  text-align: center;
  color: rgb(79, 34, 239);
  margin-top: 15px;
  font-size: 11px;
}
.row4 {
  font-size: x-small;
  color: rgb(163, 160, 160);
}

/******************Edittask**************************************************/
.outer {
  margin: 50px;
  background-color: white;
  width: 100%;
  height: 100vh;
}
.outer_row1 {
  display: flex;
  flex-direction: row;
}
.path {
  width: 50%;
  color: rgb(123, 131, 139);
  margin-bottom: 18px;
}
.closeicon {
  width: 50%;
  text-align: right;
  margin-bottom: 18px;
}

.outer_row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.column1_row1 {
  color: rgb(61, 65, 70);
  font-size: larger;
  font-weight: 500;
}
.outer_column1 {
  width: 50%;
}
.outer_column2 {
  width: 40%;
  text-align: right;
  margin-left: 5%;
  margin-right: 2%;
}

button1,
button2,
button3{
  text-align: center;
  background-color: rgb(202, 209, 216);
  width: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 2px;
  margin-right: 4px;
  font-size: small;
  color: black;
  margin-bottom: 5%;
}
select {
  background-color: rgb(202, 209, 216);
  width: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 2px;
  margin-right: 4px;
  font-size: small;
  color: black;
  margin-bottom: 5%;
  text-align: center;
  width: 100px;
  padding: 4px;
  border:none;
}
.column1_row2 {
  margin-top: 15px;
}

.column1_row3 {
  color: slategray;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

textarea {
  width: 100%;
  margin-top: 5%;
}

.column1_row4 {
  color: slategray;
  margin-bottom: 5%;
}
.column1_row5{
  display: flex;
  flex-direction: row;
  width:100%;
}

.row5 {
  display: flex;
  flex-direction: row;
  width:50%;
}
.row5_1{
  width:50%;
  text-align:right;
  font-size:small;
  color:slategrey;
}
button5,
button6,
button7,
button8 {
  background-color: white;
  color: slategray;
  display: flex;
  flex-direction: row;
  margin-right: 8px;
  font-size: small;
  padding: 5px;
  border: 0.5px grey;
}
button7{background-color: blue;
color:white;}

.column1_row6{
  display: flex;
  flex-direction: row;
  width:100%;
  margin-top: 15px;
}

.row6{
    background-color: green;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
    color: white;
    margin-right: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.row7{
  width:100%;
  align-items: right;
  margin-bottom: 10px;
}
.column1_row7{
  display: flex;
  flex-direction: row;
  margin-right:5px;
  font-size: small;
  margin-top: 10px;
}
.row8{
  width:50px;
  margin:10px;
  margin-left: 15%;
  padding: 5px;
  background-color: blue;
  text-align: center;
  color:white;
}
.row9{
  width:50px;
  margin:10px;
  padding: 5px;
  background-color: white;
  text-align: center;
}
.column2_row1{
  text-align: left;

}
.column2_row2{
  border:1px solid;
  border-bottom: none;
  border-color:black;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  text-align: left;
  text-indent: 2%;
  width:100%;
}
.column2_row3_1, .column2_row3_2{
 margin-left: 5px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.column2_row3_1{
  margin-right: 20%;
}
.list{
  padding-bottom: 20px;
}
.list_A{
  margin-right: 10px;
  background-color: green;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 2px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
margin-top:-4px ;}

.column2_row3{
  display: flex;
  flex-direction: row;
  border:1px solid;
  border-color: slategray;
  background-color: white;
  text-align: left; 
  width: 100%; 
}
.column2_row3_1{
display: flex;
flex-direction: column;
}
.list{
  width:100%;
  display: flex;
  flex-direction: row;
}
.column3_row1{
  display: flex;
  flex-direction: row;
  width:100%;
  font-size: smaller;
  color: grey;
  padding-top: 15px;
}
.column3_row2{margin-top: 2px;
  font-size: smaller;
  color: grey;
  text-align: left;
}
.cl3row1{margin-left: 380px;}

.firstrow1 label {
  height: 10vh;
  width: 50%;
  /* background-color:green; */
  margin-top: 0%;
  padding: 0%;
  font-family: 'Lucida Sans';
  font-size: x-large;
  text-align: justify;
  font-weight: bolder;
  color: slategray;
}

.firstcolumn1 {
  width: 50%;
  /* background-color: brown; */
  height: 20%;
  padding: 5px;
  font-family: sans-serif;
}
.firstcolumn1 button {
  width: 70px;
  padding: 1%;
  background-color: slategrey;
  font-size: small;
  color: white;
}

.firstcolumn1 label {
  font-size: 16px;
  margin-left: 3px;
}
.secondrow1 {
  text-align: left;
  padding: 2px;
}
.tablrow {
  margin-top: 0;
  border-style: solid;
  border-width: 1px;
  border-color: slategray;
}
.tablrow td {
  font-size: 16px;
}
.thirdrow1 {
  display: flex;
  width: 50%;
}
.thirdrow1 label {
  padding: 10px;
}

.firstrow label {
  text-align: left;
  border-width: 1px;
}
.firstrow label {
  color: gray;
  font-size: small;
}
.secondrow {
  width: 100%;
  height: 100vh;
}
.usericon {
  height: 3vh;
  width: 20px;
  border-radius: 25px;
  background-color: blue;
  float: right;
}

.firstcolumn {
  width: 20%;
  height: 100vh;

  float: left;
}
/* .firstcolumn li {
  list-style: none;
  text-align: center;
  padding: 8%;
  background-color: lightgray;
} */
/* .firstcolumn li:hover {
  color: white;
} */
.secondcolumn {
  width: 79%;
  height: 100vh;
  float: right;
}
.usernamerow {
  width: 100%;
  height: 15vh;
}
/* .users label
  {
      text-align: center;
      color: blue;
  } */

/* .users {
  height: 3vh;
  width: 25px;
  border-radius: 25px;
  background-color: red;
  margin: 30%;
  padding: 10px;
  margin-top: 10px;
  padding-right: 5px;
}
.singleuser {
  overflow-x: scroll;
  padding-top: 10%;
  margin-right: 20%;
}
.eachuser {
  padding: 2%;
  float: left;
  width: 10%;
  height: 6vh;
  text-align: center;
}
.statusnamerow {
  width: 100%;
  height: 12vh;
  margin-top: 4%;
}
.taskbar1 {
  width: 20%;
  height: 45vh;
  border: 1px solid black;
  float: left;
  
}
.taskbar1 p{
  background-color: lightsalmon;
}
.taskbar2 {
  width: 20%;
  height: 45vh;
  border: 1px solid black;
  float: left;
  margin-left: 3%;
}
.taskbar2 p{
  background-color: lightsalmon;
}
.taskbar3 {
  width: 20%;
  height: 45vh;
  border: 1px solid black;
  float: left;
  margin-left: 3%;
}
.taskbar3 p{
  background-color: lightsalmon;
}
.taskbar4 {
  width: 20%;
  height: 45vh;
  border: 1px solid black;
  float: left;
  margin-left: 3%;
}
.taskbar4 p{
  background-color: lightsalmon;
}
.statusnamerow label {
  margin-left: 14%;
}

.userlabel {
  padding-top: 40px;
  color: blue;
} */

.prowone {
  width: 80%;
  height: 15vh;
  /* background-color: aquamarine; */
  /* border-bottom: 1px solid black; */
  border-left: 5%;
  padding-top: 5%;
}
.prowone label {
  color: slategrey;
  font-weight: 900;
  font-size: x-large;
  text-align: center;
  padding-left: 5%;
}
.prowone button {
  float: right;
  background-color: gray;
  color: white;
  border: none;
  height: 5vh;
  width: 10%;
}

.tablerow {
  /* border-top: 1px solid gray; */
  width: 80%;

  height: 60vh;
}
/* .tablerow th {
  color: slategray;
  border-bottom: 1px solid gray;
  width: 20%;
  
} */
/* .tablerow td {
  color: slategray;
  width: 45%;
  border-bottom: 1px solid gray;
  padding: 4%;
} */
.tablerow tr {
  text-align: center;
}
.seccolumfirstrow {
  width: 100%;
  height: 25vh;
  float: left;
  background-color: lightgray;
}
.userlabel {
  padding-top: 40px;
  color: blue;
}
.secondcolumn {
  margin-top: 1%;
}
.buttonright label {
  color: slategrey;
  font-weight: 900;
  font-size: x-large;
  text-align: center;
  padding-left: 5%;
  float: left;
}

.buttonright button {
  float: right;
  background-color: gray;
  color: white;
  border: none;
  height: 5vh;
  width: 10%;
  margin-right: 9%;
}

.seccolumsecondrow {
  padding-top: 5%;
  width: 100%;
  height: 100vh;

  margin-top: 5px;
}

.seccolumsecondrow th {
  width: 29%;
  border-top: 10px;
  border-bottom: 10px;
  text-align: center;
  padding: 20px;
}

.seccolumsecondrow td {
  width: 29%;
  border: none;
  text-align: center;
  padding: 10px;
}
.trow :hover {
  background-color: lightgrey;
}

/* .titleinput {
  margin-left: 12%;
  margin-right: 5%;
  width: 70%;
  height: 5vh;
color: gray;

} */
.titleinput {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
  color: gray;
}
.titleinput input {
  width: 70%;
  height: 5vh;
}

.descriptioninput {
  width: 70%;
  margin-left: 12%;
  margin-right: 5%;
  height: 20vh;
  color: gray;
}

.assignuser {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.assignuser select {
  width: 70%;
  height: 5vh;
}
.assignuser label {
  color: gray;
}
.statusin {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.lb1 {
  float: left;
  color: gray;
  width: 35%;
}
.lb2 {
  float: left;
  color: gray;
  width: 35%;
  margin-left: 2%;
}
.statusinlongwidth {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.statusinlongwidth select {
  width: 70%;
  height: 5vh;
}
.statusin select {
  padding-right: 3px;
  float: left;
  width: 35%;
  height: 5vh;
  margin-right: 2%;
}

.statusin input {
  margin-left: 1%;
  padding-left: 5px;
  display: flex;
  float: 1% left;
  width: 32%;
  height: 4vh;
}
.sprintinput {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.sprintinput select {
  width: 70%;
  height: 5vh;
}
.sprintinput label {
  color: gray;
}
.epicinput {
  width: 100%;
  height: 10vh;
  margin-left: 12%;
}
.epicinput select {
  width: 70%;
  height: 5vh;
}
.epicinput label {
  color: gray;
}
pbutton {
  text-align: right;
}
.pbutton button {
  border: none;
  background-color: white;
  text-align: right;
}
.tablerow table {
  /* background-color: aqua; */
  border-top: 1px solid gray;
  padding-left: 1%;
  padding-top: 15%;
  margin-left: 5%;
  margin-top: 15%;
}

.tablerow {
  /* border-top: 1px solid gray; */
  width: 80%;

  height: 40vh;
}
.tablerow th {
  color: slategray;
  border-bottom: 1px solid gray;
  /* width: 20%;  */
}
.tablerow td {
  color: slategray;
  width: 25%;
  border-bottom: 1px solid gray;
  padding: 4%;
}
.tablerow tr {
  text-align: center;
}
.slider {
  background-color: white;
  width: 50%;
  margin-left: 25%;
  padding-top: 10px;
  padding-left: 10px;
  overflow-x: scroll;
  display: flex;
  padding-bottom: 10px;
  padding-right: 5px;
}
.slider::-webkit-scrollbar {
  width: 20%;
  margin-left: 25%;
  height: 150px;
  overflow-x: scroll;
  display: flex;
  height: 6px;
  border-radius: 2px;
  background-color: gray;
}
.slider::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 3px;
  background-color: gray;
}
.psecondrow {
  width: 100%;
  height: 10vh;

  padding-left: 10%;
}
.titlerow {
  width: 100%;
  height: 10vh;
}
.titlerow input {
  width: 70%;
  height: 5vh;
}
.titlerow label {
  color: gray;
}
.descriptiion {
  width: 100%;
  height: 25vh;
}
.descriptiion {
  color: gray;
}
.descriptiion input {
  width: 70%;
  height: 20vh;
}
.typerow {
  width: 100%;

  height: 10vh;
}
.typerow select {
  width: 70%;
  height: 5vh;
}
.typerow label {
  color: gray;
}
.ownerrow {
  width: 100%;
  height: 10vh;
}
.ownerrow select {
  width: 70%;
  height: 5vh;
}
.ownerrow label {
  color: gray;
}
.ownerrow select {
  color: grey;
}
.typerow select {
  color: grey;
}
.tablerow thead.idth {
  width: 10%;
}
.tablerow.nameth {
  width: 20%;
}
.slider {
  width: 40%;
  margin-left: 25%;
  height: 150px;
  overflow-x: scroll;
  display: flex;
}
.project {
  background-color: gainsboro;
}
.epic {
  background-color: antiquewhite;
}
.task {
  background-color: azure;
}
.withborder {
  border: 1px solid gray;
  border-left: none;
  border-right: none;
}
.right {
  text-align: right;
}
.childbg {
  background-color: #ededed;
}
.parentbg {
  background-color: rgb(116, 116, 255);
}
.constant {
  width: 5%;
}
table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.constant {
  width: 10%;
}
.none {
  display: none;
}
.display {
  display: table-row;
  transition-property: all;
  transition-duration: 4s;
  transition-delay: 2s;
}

.drageAndDrop p {
  background-color: red;
  margin: 10px;
  text-align: center;
  padding: 10px;
  color: white;
}
.new {
  display: flex;
}
